<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.maplerad.fitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="Exercise" />
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/workout" />
        <activity
            android:name=".WarmupActivity"
            android:label="@string/warmup" />
        <activity
            android:name=".StretchingActivity"
            android:label="@string/stretching" />
        <activity
            android:name=".AbsActivity"
            android:label="Abs Exercise" />
        <activity
            android:name=".ArmsActivity"
            android:label="Arms Exercise" />
        <activity
            android:name=".LegsActivity"
            android:label="Leg Exercise" />
        <activity
            android:name=".BackActivity"
            android:label="Back Exercise" />
        <activity
            android:name=".ChestActivity"
            android:label="Chest Exercise" />
        <activity
            android:name=".LegRaiseActivity"
            android:label="Leg Raise" />
        <activity android:name=".SidePlankActivity"
            android:label="Side Plank"/>
        <activity android:name=".SideCrunchActivity"
            android:label="Side Crunch"/>
        <activity android:name=".PushupActivity"
            android:label="Push up"/>
        <activity android:name=".TabletopActivity"
            android:label="Table top"/>
    </application>

</manifest>