<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.maplerad.fitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="Exercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WarmupActivity"
            android:label="@string/warmup"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StretchingActivity"
            android:label="@string/stretching"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AbsActivity"
            android:label="Abs Exercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArmsActivity"
            android:label="Arms Exercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LegsActivity"
            android:label="Leg Exercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BackActivity"
            android:label="Back Exercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChestActivity"
            android:label="Chest Exercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LegRaiseActivity"
            android:label="Leg Raise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SidePlankActivity"
            android:label="Side Plank"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SideCrunchActivity"
            android:label="Side Crunch"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PushupActivity"
            android:label="Push up"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TabletopActivity"
            android:label="Table top"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BurpeeActivity"
            android:label="Burpee"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WideHandActivity"
            android:label="Wide Hand"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JumpingJackActivity"
            android:label="Jumping Jack"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SquatActivity"
            android:label="Squat Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WallSitActivity"
            android:label="Wall sit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PunchActivity"
            android:label="Punch"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PushupRotationActivity"
            android:label="Push up and Rotation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShoulderActivity"
            android:label="Shoulder Circles"
            android:parentActivityName=".StretchingActivity" />
        <activity
            android:name=".TwoArmActivity"
            android:label="Two-Arm Doorway Stretch"
            android:parentActivityName=".StretchingActivity" />
        <activity
            android:name=".HeadKneeActivity"
            android:label="Head to Knee Pose"
            android:parentActivityName=".StretchingActivity" />
        <activity
            android:name=".QuadStretchActivity"
            android:label="Quad Stretch"
            android:parentActivityName=".StretchingActivity" />
        <activity
            android:name=".LungeActivity"
            android:label="Lunge with Arm reach"
            android:parentActivityName=".StretchingActivity" />
        <activity
            android:name=".CobraActivity"
            android:label="Cobra"
            android:parentActivityName=".StretchingActivity" />
        <activity
            android:name=".NeckRotationActivity"
            android:label="Neck rotations"
            android:parentActivityName=".WarmupActivity" />
        <activity
            android:name=".ITbandActivity"
            android:label="IT band stretch"
            android:parentActivityName=".WarmupActivity" />
        <activity
            android:name=".WristExtensionActivity"
            android:label="Wrist Extension stretch"
            android:parentActivityName=".WarmupActivity" />
        <activity
            android:name=".BicepsActivity"
            android:label="Biceps stretch"
            android:parentActivityName=".WarmupActivity" />
        <activity
            android:name=".ArmCircleActivity"
            android:label="Arm circle"
            android:parentActivityName=".WarmupActivity" />
        <activity
            android:name=".StraightLegActivity"
            android:label="Straight-leg calf stretch"
            android:parentActivityName=".WarmupActivity" />
        <activity
            android:name=".HamstringActivity"
            android:label="Hamstring stretch"
            android:parentActivityName=".WarmupActivity" />
        <activity
            android:name=".Day1Activity"
            android:label="Day 1"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day2Activity"
            android:label="Day 2"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day3Activity"
            android:label="Day 3"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day4Activity"
            android:label="Day 4"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day5Activity"
            android:label="Day 5"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day6Activity"
            android:label="Day 6"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day7Activity"
            android:label="Day 7"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day8Activity"
            android:label="Day 8"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day9Activity"
            android:label="Day 9"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day10Activity"
            android:label="Day 10"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day11Activity"
            android:label="Day 11"
            android:parentActivityName=".MealPlansActivity" />

        <activity
            android:name=".InfoActivity"
            android:label="Info"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".Day12Activity"
            android:label="Day 12"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day13Activity"
            android:label="Day 13"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day14Activity"
            android:label="Day 14"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day15Activity"
            android:label="Day 15"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day16Activity"
            android:label="Day 16"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day17Activity"
            android:label="Day 17"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day18Activity"
            android:label="Day 18"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day19Activity"
            android:label="Day 19"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day20Activity"
            android:label="Day 20"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day21Activity"
            android:label="Day 21"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day22Activity"
            android:label="Day 22"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day23Activity"
            android:label="Day 23"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day24Activity"
            android:label="Day 24"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day25Activity"
            android:label="Day 25"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day26Activity"
            android:label="Day 26"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day27Activity"
            android:label="Day 27"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day28Activity"
            android:label="Day 28"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day29Activity"
            android:label="Day 29"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".Day30Activity"
            android:label="Day 30"
            android:parentActivityName=".MealPlansActivity" />
        <activity
            android:name=".MealPlansActivity"
            android:label="Meal plans"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".SevenMinutesActivity"
            android:label="@string/seven_minutes"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".AbsIn5MinutesActivity"
            android:label="@string/abs5min"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SexyLegsActivity"
            android:label="Sexy Legs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ButtocksActivity"
            android:label="Buttocks"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LegsAndButtocksActivity"
            android:label="Legs and Buttock"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LegChestActivity"
            android:label="Leg and Chest"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpperBodyActivity"
            android:label="Upper Body"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StregthenBodyIActivity"
            android:label="Streghten Body I"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StregthenBody2Activity"
            android:label="Stregthen Body II"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReportActivity"
            android:label="Reports"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".ProfileActivity"
            android:label="Profile Information"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>